body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 40px; 
}

h1 {
    font-size: 2.5rem;

}


nav{
    margin-left: auto;

}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


nav a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0056b3;
}


main {
    text-align: center; 
}

.photo-container{
    padding: 5%;
}

/* tooltip styling */

.photo-container {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.photo-container img {
  position: relative;
}

.photo-container img::after {
  content: attr(alt);
  position: absolute;
  bottom: -25px; /* Adjust the distance from the image */
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none; /* Ensures the tooltip doesn't interfere with clicks */
}

.photo-container img:hover::after {
  opacity: 1;
